.pie {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 33.3vw 23.3vw 43.3vw;
    padding: 20px;
    div{
        iframe{
            width: 550px;
            height: 350px;
        }
    }
    ul{
        li{
            a{
                color: white;
                list-style: none;
                text-decoration: none;
                margin-left: -30px;
            }
        }
    }
}
.contactenos {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 0.18fr 1fr;
    row-gap: 50px;

}
.datos {
    margin-left: -30px;
}
.datos-1{
    margin-left: 1px;
}
.redes1 {
    width: 25px;
    height: 25px;
    margin-left: -30px;
}

.redes2 {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: -20px;
}
